= simple_form_for(@survey) do |f|
  = f.error_notification
  = f.input :title, label: "Survey title"

  = f.simple_fields_for :question, @survey.question.build do |q|
    = q.input :content, label: "Question content"
    = q.simple_fields_for :answers, q.object.answers.build do |a|
      = a.input :content, label: "Answer content"
    = q.simple_fields_for :addresses, q.object.addresses.build do |a|
      = a.region_select [:province, :city, :district]
  = f.button :submit
